*{
  margin: 0
}
.BigText{
  font-size: 900%;
  font-weight: 400%;
  color: white;
  margin-left: 60%;
}
.App-header {
  background-image: url(https://lh3.googleusercontent.com/pw/ADCreHducukhnWGN9ZQB-rwgyt28Q7lm5NiarFZAHj077aFoYfK_zCgED2Rk9SbxiWIJ-k2PPsDRB5WWnBhQl-QGKZqtAIPQqMYoOALDcpp_XCNuAGqMGu-3Vga0SxCGxt39vq7Mg1umy9Jwb9AUQnYnnDFzFw=w1190-h893-s-no?authuser=0);
  background-size: cover;
  background-position: 50% 70%;
  height: 100vh;
  color: white;
  margin:0;
}
.App-header h1 {
  margin-left: 200px;
  font-weight: 200%;
  font-size: 100px;
  transform: translateY(100px)
}
.bouton {
  margin: 0;
  margin-left: 200px;
  font-weight: 200%;
  font-size: 100px;
  margin-top: 70px;
  display:block;
  display:inline-block;
 
}
.LetterHeader{
  background-image: url(https://lh3.googleusercontent.com/pw/ADCreHf9_F24LGF5Vd8v--jwD7mV_jZkeSunaDSDsoHH6ERoUhrUTaIvjiyB4yJu4b3qwkGUclHtLH2RQLYfQCi64FwZmH3q-0azG3oHKK3YYOcYExzT4RZqDFsjiYYnAG2nurmpxc9L034X93HrivnkHdhDzw=w714-h893-s-no?authuser=0);
  background-size: cover;
  min-height: 70vh;
  background-position: 20% 35%;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.WhoKevinHe1{
  flex-basis: 48%;
  background-image: url(https://lh3.googleusercontent.com/pw/ADCreHduJcS744Aj46-JmR44UV4jaa3HZFkeG9gddDnRIW7OEyiBAXYVknxCULkDgTMYWSlAMLWyOPDrQO3glI8HY5C16r7FsaMNJ9j3cssuAyGvuNjdslZSpTrW9-sTKw_tGJLCoBuJlkkiU9xIS7U5KgXOPw=w1024-h683-s-no?authuser=0);
  background-size: cover;
  border-radius: 15px;
}
.WhoKevinHe2{
  flex-basis: 50%;
}
.container{
  padding: 15px 5%;
}
/*-------------------------------------------------------- Introduction Letter  ----------------------------------*/
.page2header{
  font-size: 80px;
  font-weight: 200;
  color: white;
  position: relative;
  left: 57%;
  top: 9%
}
.intro{
  background-color: aliceblue;
  padding: 20px 10%;
  margin: 2%;
}
.videocv{
  background-image: url(https://lh3.googleusercontent.com/pw/ADCreHducukhnWGN9ZQB-rwgyt28Q7lm5NiarFZAHj077aFoYfK_zCgED2Rk9SbxiWIJ-k2PPsDRB5WWnBhQl-QGKZqtAIPQqMYoOALDcpp_XCNuAGqMGu-3Vga0SxCGxt39vq7Mg1umy9Jwb9AUQnYnnDFzFw=w1190-h893-s-no?authuser=0);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  justify-content: center;
}
/*-------------------------------------------------------- CV  ----------------------------------*/
